<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>
                    Đang xác định thông tin tài khoản, vui lòng đợi...
                </p>
            </Authorizing>
            <NotAuthorized>
                <h1>Xin lỗi</h1>
                <p>Bạn không được phép truy cập trang này.  Bạn cân đăng nhập.</p>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <p>Không tìm thấy trang này.</p>
    </NotFound>
</Router>